streamlit>=1.35.0
langchain>=0.2.0
langgraph>=0.0.55
langchain-openai>=0.1.7
langchain-groq>=0.1.5
langsmith>=0.1.30
python-dotenv>=1.0.1

# RAG dependencies
langchain-community>=0.2.0
langchain-huggingface>=0.0.1
faiss-cpu>=1.8.0
sentence-transformers>=2.2.0
numpy>=1.26.0
pypdf>=4.0.0
requests>=2.31.0
google-generativeai

# optional (for real multi-model later)
# google-generativeai
